{% extends "HealthyLiving/base.html" %}

{% block content%}
  <div class="container">
    <div class="row">
      <div class="container .bg-white">
        <div class="card rounded">
          <div class="card-body rounded ">
            <form action="" method="GET">
              <div class="form-row align-items-center">
                <div class="col-lg-8">
                  <div class="md-form mt-0">
                    <input type="text" name="q"
                    placeholder="Search Recipe"
                    value="{{ request.GET.q }}"
                    class="form-control">
                  </div>
                  </div>
                <div class="col-lg-2">
                  <select name="filter" class="form-control">
                      <option value="All">All</option>
                      <option value="Breakfast">Breakfast</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                      <option value="Other">Other</option>
                      <option value="Side">Side</option>
                      <option value="Dessert">Dessert</option>
                  </select>
                </div>
                <div class="col-lg-auto">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
        <div class="container">
          <div class="row">
            {% for recipe in Recipe %}
            <div class="col-md-4">
              <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header ">{{recipe.Title}}</div>
                <div class="card-footer ">
                  <a href="{% url 'getRecipe' recipe.id%}" class="btn btn-primary">View Recipe</a>
                  <div class="ui star rating" data-rating= "{{recipe.avgRating}}"></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  <hr class="my-2">

    {% if request.GET.q %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number}}">Prev</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}

    {% else %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

    <a class="scroll-to-top rounded" href="#">
      <i class="fa fa-angle-up"></i>
    </a>

<script>

// Scroll to top button appear
$(document).on('scroll', function() {
  var scrollDistance = $(this).scrollTop();
  if (scrollDistance > 100) {
    $('.scroll-to-top').fadeIn();
  } else {
    $('.scroll-to-top').fadeOut();
  }
});

$(document).ready(function(){
    // All your normal JS code goes in here
    $(".rating").rating({
      maxRating: 5,
      onRate: function(value) {
          console.log('value set to:' + value);
        },
    })
    $('.rating').rating('disable')
    });
</script>


{% endblock content%}
