{% extends "HealthyLiving/base.html" %}

{% block content %}

    <div class="container">
      <div class="card-columns" display: inline-block>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{recipe.Title}}</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{recipe.categories}}</h5>
            <p class="card-text"><small class="text-muted">{{recipe.avgRating}}</small></p>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){

        $.ajax({
          url : "{% url 'recentlyVisited' recipe.id %}",
          method : "POST",
          data : {
                  "recipeID" : {{recipe.id}},
                  "csrfmiddlewaretoken" : "{{csrf_token}}"
                 },
          success : function (data){
            console.log(data)
          }
        })
      })
    </script>
{% endblock content %}
