{% extends "HealthyLiving/base.html" %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="card booking-card">
          <div class="card-body">
            <h1 class="card-title font-weight-bold"><a>{{recipe.Title}}</a></h1>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="card-text">
                    Ratings - {{recipe.avgRating}} ({{recipe.totalRatings}})
                  </p>
                  <div class='rating-stars text-center'>
                    <ul id='stars'>
                      <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                    </ul>
                  </div>
               </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                  {% if user.is_authenticated %}
                  <nav>
                    <ul style="list-style: none; margin: 0; padding: 0;">
                      {% if favourite %}
                        <li><i class="fas fa-heart fa-5x" style="color:red"></i></li>
                      {% else %}
                        <li><i class="fas fa-heart fa-5x" style="color:black"></i></li>
                      {% endif %}
                    </ul>
                  </nav>
                  {% else %}
                    <p>
                      Login to Favourite!!!
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>

            <h3 class="card-title font-weight-bold"><a>Ingredients</a></h3>
            <hr class="my-4">
            <p class="card-text">{{recipe.ingredients}}</p>
            <h3 class="card-title font-weight-bold"><a>Directions</a></h3>
            <hr class="my-4">
            <ul>
              {% for x in ingredients %}
              <li class="card-text" >{{x}}</li>
              {% endfor %}
            </ul>
            <hr class="my-4">
            <p class="card-text"> Categories - [{{recipe.categories}}]</p>

          </div>
        </div>
      </div>
      <hr class="my-5">
      <div class="row">
        <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top card-img-top1" alt="..." height="250px" width="250px">
            <div class="card-body">
              <p class="card-text">Image 1</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top card-img-top2" alt="..." height="250px" width="250px">
            <div class="card-body">
              <p class="card-text">Image 2</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top card-img-top3" alt="..." height="250px" width="250px">
            <div class="card-body">
              <p class="card-text">Image 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        var url = encodeURI("{{recipe.Title}}")

        $(document).ready(function(){
          $.ajax({
            url : "https://www.googleapis.com/customsearch/v1?q="+url+"&cx=009921154466946369670%3Aoldelsixjh6&searchType=image&key=AIzaSyDwEsud6sJVwfrsrPme_BXRlgEf9VHNtEw",
            method : "GET",
            success : function (data){
              console.log(data)
              console.log(data['items']['0']['link'])
              console.log(url)
              $('.card-img-top1').attr('src',data['items']['0']['link']);
              $('.card-img-top2').attr('src',data['items']['1']['link']);
              $('.card-img-top3').attr('src',data['items']['2']['link']);

            }
          })
        })

        $(document).ready(function(){

          $.ajax({
            url : "{% url 'recentlyVisited' recipe.id %}",
            method : "POST",
            data : {
                    "recipeID" : {{recipe.id}},
                    "csrfmiddlewaretoken" : "{{csrf_token}}"
                   },
            success : function (data){
              console.log(data)
            }
          })
        })

        $('nav i').on('click', function () {
          $.ajax({
            url : "{% url 'favourites' recipe.id %}",
            method : "POST",
            data : {
                    "recipeID" : {{recipe.id}},
                    "csrfmiddlewaretoken" : "{{csrf_token}}"
                   },
            success : function (data){
              console.log(data)
            }
          })
        })

        $(document).ready(function(){

          /* 1. Hovering stars */
          $('#stars li').on('mouseover', function(){
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function(e){
              if (e < onStar) {
                $(this).addClass('hover');
              }
              else {
                $(this).removeClass('hover');
              }
            });

          }).on('mouseout', function(){
            $(this).parent().children('li.star').each(function(e){
              $(this).removeClass('hover');
            });
          });


          /* 2.When you click a star */
          $('#stars li').on('click', function(){
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
              $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
              $(stars[i]).addClass('selected');
            }

            var ValRated = parseInt($('#stars li.selected').last().data('value'), 10);

              $.ajax({
                url : "{% url 'rating' recipe.id %}",
                method : "POST",
                data : {
                        "recipeID" : {{recipe.id}},
                        "rating": ValRated,
                        "csrfmiddlewaretoken" : "{{csrf_token}}"
                       },
                success : function (data){
                  console.log(data)
                }
              })

            if (ValRated > 1) {
                console.log("Thanks! You rated this " + ValRated + " stars.")
            }
            else {
                console.log("We will improve ourselves. You rated this " + ValRated + " stars.")
            }
          });
        });


    </script>
{% endblock content %}
