{% extends "HealthyLiving/base.html" %}

{% block content %}

  <div class="container">
    <div class="container">
      <h3>Rated Recipes</h3>
      <div class="ui four cards">
        {% for recipe in Rated %}
          <div class="card">
            <div class="image">
              <img src = "https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
            </div>
            <div class="content">
              <a class="" href="{% url 'getRecipe' recipe.recipeID.id%}">{{recipe.recipeID}}</a>
            </div>
            <div class="extra">
              Rating:
              <div class="ui star rating" data-rating= "{{recipe.rating}}"></div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
      <h3>Favourited Recipes</h3>
      <div class="ui four cards">
        {% for recipe in Favorites %}
          <div class="card">
            <div class="image">
              <img src = "https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
            </div>
            <div class="content">
              <a class="" href="{% url 'getRecipe' recipe.recipeID.id%}">{{recipe.recipeID}}</a>
            </div>
            <div class="extra">
              Rating:
              <div class="ui star rating" data-rating= "{{recipe.rating}}"></div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
  </div>

    <script>
      $(document).ready(function(){
          // All your normal JS code goes in here
          $(".rating").rating({
            maxRating: 5,
            onRate: function(value) {
                console.log('value set to:' + value);
              },
          })
          $('.rating').rating('disable')
          });
    </script>
{% endblock content %}
