{% extends "HealthyLiving/base.html" %}
{% load crispy_forms_tags %}

  {% block content%}
  <div class="card border-0 shadow ">
    <div class="card-body p-0">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 mb-4">Reset Password!</h1>
            </div>

            <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                {{ form|crispy}}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-primary btn-user btn-block" name="button" type="submit">Request password reset!</button>
              </div>
            </form>
            <hr>
          </div>
        </div>
      </div>
  {% endblock content%}
