{% extends "HealthyLiving/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-7 card border-0 shadow ">
      <br>
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Account Settings
            <div class="sub header">Manage your Account</div>
          </div>
        </h2>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-primary btn-user btn-block" type="submit">Update</button>
          </div>
      </form>
    </div>

    <div class="col-xl-4 col-md-auto">
      <div class="ui card">
        <a class="image" href="#">
          <img src="{{ user.profile.image.url }}">
        </a>
        <div class="content">
          <a class="header">{{ user.username }}</a>
          <div class="meta">
            <a>{{ user.email }}</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
